@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
/* body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1pixel bottom border and padding all the way around of 16 pixels */
body{
    margin: 0;
  padding: 0;
}


main{
    padding: 16px;
}


footer{
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 24px;
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    color: white;
    background-color:#002d43;
}


img{
    height: 200px;
}

nav > a{
    color: white;
}

nav{
    border-bottom: 1px solid black;
}


/* Note: The a tags no longer have lines underneath the text. */
/* Then, we applied colors to the a tags for the recipes, as well as to the h1 tags to stay consistent with our theme. */
a{
    text-decoration: none;
}


.word-color{
    color: #13678A;
}


/* to add shadows to your headers */
/* color | offset-x | offset-y | blur-radius */
header{
    text-shadow: #fc0 1px 0 10px;
}


.header-color{
    background-color: #45C4B0;
}


/* to put shadows in or under HTML elements */
/* offset-x | offset-y | blur-radius | color */
html{
    box-shadow: 10px 5px 5px black;
}


/* with custom fonts from Google Fonts  */
.google-fonts {
    font-family: 'Alkatra', cursive;
}


/* by adding a class to the table element,
 then using the descendant combinator with a class selector and the
 :nth-child pseudo-class on the table row elements. */
/* Note: Every even row in the ingredients table is now striped. */
.element tr:nth-child(odd){
    background-color: lightgray;
}


/* You will use the following CSS properties:  display, grid-template-columns */
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
